.people-graph-container {
    /* TEMPORARY */
    background: #f6e9d8;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}