.people-graph-container {
    margin: 20px 0;
    position: relative;
    min-height: 500px;
}

.people-graph-container.withLogo {
    background: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-ft-logo-square-coloured?width=50&source=origami-registry') no-repeat center center;
    background-size: 20% auto;
}

.people-graph {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}