.connections-graph {
    margin: 0;
    text-align: center;
    padding: 0 15px;
    position: relative;
    height: 600px;
    z-index: 2;
    background-color: #FFF8EF;
}
.connections-graph:focus {
    outline: none;
}
.vis-network:focus {
    outline: none;
}
