.people-subheader {
    height: 75px;
    line-height: 75px;
    border-top: solid 1px #CEC6B9;
    padding: 0 10px;
    font-size: 18px;
}

.people-subheader-item {
    float: left;
    margin-right: 15px;
}

.people-subheader-item-label {
    display: inline-block;
    margin-right: 10px;
}