.connections-graph-container {
    margin: 0;
    position: relative;
    min-height: 500px;

    /* TEMPORARY */

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}