.related-content-link {
    display: block;
    font-family: 'FinancierDisplayWeb', serif;
    font-size: 18px;
    color: #333333;
    line-height: 30px;
}

.related-content-link a {
    display: block;
    line-height: 30px;
    color: #333;
}

.related-content-link-divider {
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;
}

.related-content-published {
    display: inline-block;
    color: #8B572A;
    text-transform: uppercase;
    font-family: 'MetricWeb', sans-serif;
    font-size: 14px;
    vertical-align: middle;
}

.related-content-link-title {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.related-content-link .fa {
    font-size: 18px;
    width: 14px;
    background-position: center center;
    vertical-align: middle;
    color: #2E6E9E;
}