.share-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: solid 1px #E9DECF;
    border-radius: 50%;
    margin: 0 2px;
}

.share-button:before {
    line-height: 40px;
    color: #B6B4AB;
    font-size: 1.5em;
}

.share-button:link,
.share-button:visited,
.share-button:hover,
.share-button:active {
    text-decoration: none;
}